@import "../../variables";

.postList-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;

  .add-post-container {
    width: 31rem;
    height: 90%;
    margin-bottom: 20rem;
  }

  .postform-card {
    width: 90%;
    height: 13rem;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: white;
    border-radius: 30px;
    border: solid 1px black;
  }

  button {
    position: absolute;
    font-family: "Poppins", Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    background: #3a10e5;
    color: white;
    border-radius: 100px;
    border: none;
    max-width: 121px;
    height: 45px;
    top: 7.6rem;
    right: 3rem;
    cursor: pointer;
    &:focus {
      outline: 0;
    }
  }

  .postform-card input {
    background: #f0f0f0;
    font-family: "Poppins", Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 14px;
    color: #898a8d;
    border: none;
    min-width: 16rem;
    height: 2.8rem;
    margin: 1.4rem 1rem 2rem;
    overflow: hidden;
    border-radius: 15px;
    text-indent: 30px;
    &:focus {
      outline: 0;
    }
  }
}

@media (min-width: $medium) {
  .postform-card {
    width: 100%;
    min-width: 25rem;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: white;
    border-radius: 30px;
    transition: 0.3s;
    border: solid black 1px;
  }
  .postform-card input {
    height: 3rem;
    min-width: 17rem;
  }

  .postList-container button {
    height: 43px;
    right: 3.5rem;
  }
}
