@import "../../variables";

.post {
  width: 90%;
  max-height: 17rem;
  padding: 1rem;
  margin: 1rem 0;
  background-color: white;
  border-radius: 30px;
  transition: 0.3s;
  border: black 1px solid;
  line-height: 2;

  .post-content {
    display: flex;
    margin: 1rem;
  }

  .post-content {
    h1 {
      font-size: 19px;
    }
  }

  .post-content p {
    font-size: 13px;
  }

  .post-content {
    h3 {
      font-size: 13px;
    }
  }

  .clock-icon {
    display: flex;
    flex-direction: row;
  }

  a {
    color: black;

    &:hover {
      text-decoration: underline;
      color: rgba(93, 176, 171, 0.63);
    }
  }
  .text-post {
    margin: 0.4rem 0 0 1rem;
    max-width: 200px;
  }
  p {
    margin: 0.7rem 0;
  }
}

@media (min-width: $big) {
  .post {
    max-height: 17rem;
  }
  .post .text-post {
    max-height: 14rem;
  }
}
