.profile-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.container > h2 {
  text-align: center;
  font-size: 24px;
  margin: 2rem;
  font-weight: 600;
  color: darkblue;
}

.profile-card {
  width: 90%;
  min-height: 250px;
  padding: 0;
  background-color: white;
  line-height: 2;
  border-radius: 30px;
  text-align: center;
  border: solid 1px black;

  .profile-content {
    max-height: 90px;
    border-radius: 30px 30px 0 0;
    padding-top: 1rem;
  }

  .profile-content > h1 {
    font-size: 20px;
  }

  .profile-content > h2 {
    font-size: 15px;
  }

  .profile-content > h3 {
    font-size: 13px;
  }
}
.profile-messages {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 995px) {
  .profile-content > h1 {
    font-size: 27px;
  }

  .profile-card {
    min-height: 250px;
    padding: 0;
    background-color: white;
    transition: 0.3s;
    line-height: 2;
    border-radius: 30px;
    text-align: center;
    border: black solid 1px;
  }
}
