@import "../../variables";

.user-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.cover > .container > h1 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: white;
}

h1 > a {
  color: black;
}

.user-content > h2 {
  font-size: 15px;
}

.user-card {
  width: 100%;
  min-height: 250px;
  padding: 0;
  background-color: white;
  transition: 0.3s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  line-height: 2;
  border-radius: 50px;
  text-align: center;
  margin-bottom: 2rem;

  .user-content {
    background-color: $lightturquoise;
    max-height: 90px;
    border-radius: 50px 50px 0 0;
    padding-top: 1rem;
    color: black;
  }

  button {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin-top: 1.1rem;
    background: $turquoise;
    background: $lightturquoise;
    color: black;
    border-radius: 100px;
    border: none;
    min-width: 117px;
    height: 46px;
    cursor: pointer;
    &:focus {
      outline: 0;
    }
  }

  :hover {
    color: black;
  }
}

@media (min-width: 995px) {
  .cover {
    margin: auto;
    padding-top: 1rem;
  }
  .cover > .container > h1 {
    font-size: 30px;
  }

  .cover .post {
    margin-bottom: 1.5rem;
  }

  .user-content > h1 {
    font-size: 19px;
  }
  .user-card {
    min-width: 300px;
    min-height: 250px;

    button {
      font-family: "Poppins", sans-serif;
      font-size: 1.2rem;
      font-weight: bold;
      margin-top: 1.7rem;
      //background: rgba(93, 176, 171, 0.63);
      background: $lightturquoise;
      color: black;
      border-radius: 100px;
      border: none;
      min-width: 130px;
      height: 43px;
      cursor: pointer;
      &:focus {
        outline: 0;
      }
    }
  }
}
