/*
.searchform-container {
    position: absolute;
    justify-content: center;
    top: 5rem;
    left: 5rem;
    @media screen and (max-width: 600px) {
        left: 0;
    }


}

  .searchform-card {
    position: absolute;
    width: 500px;
    height: 200px;
    padding: 1rem;
    margin-bottom: 5rem;
    background-color: white;
    transition: 0.3s;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      button {
          position: absolute; 
          background: rgba(93, 176, 171, 0.63);    
          color: white;
          border-radius: 100px;
          border: none;
          width: 120px;
          height: 45px;
          top: 8rem; 
          right: 2rem;
        }
        @media screen and (max-width: 600px) {
            width: 480px;
        }
    
    }
 
  
input {
  position: absolute;
  padding: 1rem 7rem;
  margin: 5px;
  left: 32rem;
  top: -5rem;
  border-radius: 15px;  
}

   */
