@import "../../variables";

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: relative;

  h1 {
    text-align: center;
    margin-bottom: 0.5rem;
  }

  .loginform-card {
    min-height: 336px;
    width: 90%;
    padding: 2rem;
    border: black solid 1px;
    background-color: white;
    border-radius: 50px;
    text-align: center;
  }

  input {
    background: $lightgrey;
    font-family: "Poppins", sans-Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 14px;
    color: #898a8d;
    border: none;
    min-width: 14rem;
    height: 3rem;
    margin: 0.5rem 0;
    overflow: hidden;
    border-radius: 15px;
    text-indent: 30px;
    &:focus {
      outline: 0;
    }
  }
}

button {
  font-family: "Poppins", sans-Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: bold;
  display: inline-block;
  background: $darkblue;
  text-decoration: none;
  border: none;
  font-size: 0.8rem;
  color: white;
  border-radius: 100px;
  border: none;
  width: 14rem;
  height: 53px;
  margin-top: 1rem;
  cursor: pointer;
  &:focus {
    outline: 0;
  }
}

@media (min-width: 995px) {
  input {
    min-width: 17rem;
  }
  .loginform-card {
    min-height: 336px;
    max-width: 400px;
  }
}
